#!/bin/sh
# Copyright 2017 Wazo Team (see the AUTHORS file)
# SPDX-License-Identifier: MIT

case "$1" in
    build)
        ;;

    package)
        cp -R etc ${pkgdir}/
        /usr/bin/git clone https://github.com/certbot/certbot ${pkgdir}/opt/letsencrypt --depth=1
        ;;

    install)
        chgrp www-data /etc/letsencrypt
        ln -s /etc/nginx/locations/http-available/letsencrypt /etc/nginx/locations/http-enabled
        systemctl restart nginx
        ;;

    uninstall)
        rm /etc/nginx/locations/http-enabled/letsencrypt
        systemctl restart wazo-admin-ui
        ;;

    *)
        echo "$0 called with unknown argument '$1'" >&2
        exit 1
    ;;
esac
